<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osmartian.small.lib.weex">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".page.WxIndexActivity">

        </activity>

        <activity
            android:name=".page.WxPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.taobao.android.intent.action.WEEX" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.taobao.android.intent.category.WEEX" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="wxpage" />
            </intent-filter>
        </activity>

    </application>

</manifest>
